footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer.bg-dark {
  color: #fff;

  a {
    font-weight: 500;
    color: #fff;
  }
  a:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  hr {
    border-color: rgba(255, 255, 255, 0.4);
  }
}

footer.minifoot {
  height: 60px;
  line-height: 60px;

  p {
    margin-bottom: 0;
  }
}

footer.bigfoot {
  padding: 2rem 0;
  font-size: 85%;

  #footer-social {
    text-align: left;

    i {
      margin: 0 0.5rem;
    }
  }
  #copyright-owner {
    text-align: right;
  }
  #copyright-designer {
    text-align: right;

    hr {
      margin-top: 0;
    }
  }
}

@media (max-width: 991px) {
  footer.bigfoot {
    #footer-social {
      text-align: center;

      i {
        margin: 0.4rem 0.5rem;
      }
    }
    #copyright-owner {
      text-align: center;
    }
    #copyright-designer {
      text-align: center;
      font-size: smaller;
    }
  }
}
