html,
body {
  height: 100%;
}

// Fem que el contingut del cos ocupi el 100% de la pantalla per tal de dur al
// fons el peu de pàgina (footer).
// En l'operació es resta l'altura del Navbar i la del Footer.
main#app {
  min-height: calc(100vh - #{39px + 226.42px});
}
main#client {
  min-height: calc(100vh - #{39px + 226.42px});
}
main#admin {
  min-height: calc(100vh - #{40px + 60px});
}
