// Fem que el contingut del cos ocupi el 100% de l'altura.
// En l'operació es resta l'altura del Navbar i la del Footer.
main#admin {
  #sidebar {
    min-height: calc(100vh - #{39px + 60px});

    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    nav {
      .nav-link {
        color: rgba(255, 255, 255, 0.5);
      }
      .nav-link:hover {
        color: $white;
      }

      div.collapse li {
        padding-left: 25px;
      }
    }
  }
}
